<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="bi bi-map me-4"></i>
    <span class="fs-4">Map Creator</span>
</a>
<hr>
<ul class="nav nav-pills flex-column mb-auto">
  <side-bar-tile title="Grid Size" icon="grid" (tileClick)="openGridSizeModal()"/>
  <side-bar-tile title="Fill Value" icon="1-square" (tileClick)="openFillValueModal()"/>
</ul>

<grid-size-modal [isVisible]="gridSizeModalVisible" [title]="'Grid Size'" (closeModal)="closeGridSizeModal()"/>
<fill-value-modal [isVisible]="fillValueModalVisible" [title]="'Fill Value'" (closeModal)="closeFillValueModal()"/>